<%- include('../partials/header') %>

<form id="edit-form" action="/games/<%= game._id %>?_method=PUT" method="POST">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >New Title</span
    >
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      value="<%= game.title %>"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Release Date</span
    >
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      value="<%= game.releaseDate %>"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Company</span>
    <input
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      value="<%= game.company %>"
    />
  </div>
  <input type="submit" value="Edit Game" />

  <%- include('../partials/footer') %>
</form>
