<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Company</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
      <tr>
          <td><%= g.title %></td>
          <td><%= g.releaseDate %></td>
          <td><%= g.company %></td>
          <td class="comment-user"><img class="profile-pic" alt="avatar" src="<%= g.userAvatar %>" referrerpolicy="no-referrer"><%= g.userName %></td>
          <td><a href="/games/<%= g._id %>">DETAILS</a></td>
          <td><form action="/games/<%= g._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
