<%- include('../partials/header') %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Company</th>
      <th scope="col">Created By</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
    <tr>
      <th scope="row">1</th>
      <td><%= g.title %></td>
      <td><%= g.releaseDate %></td>
      <td><%= g.company %></td>
      <td class="comment-user">
        <img
          class="profile-pic"
          alt="avatar"
          src="<%= g.userAvatar %>"
          referrerpolicy="no-referrer"
        /><%= g.userName %>
      </td>
      <td><a href="/games/<%= g._id %>">DETAILS</a></td>
      <td>
        <form action="/games/<%= g._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
