<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  <div>Release Year: </div>
  <div><%= game.releaseDate %></div>
  <div>Company: </div>
  <div><%= game.company %></div>
</section>

<button><a href="/games/<%= game._id %>/edit">EDIT</a></button>


<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="/games/<%= game._id %>/comments">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Comment">
</form>

<% if (game.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% game.comments.forEach(function(c) { %>
          <% total += c.rating %>
          <tr>
            <td class="comment-user"><img class="profile-pic" alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer">
            <%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td>
            <td>
              <% if (user?._id.equals(c.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                <a href="/comments/<%= c._id %>/edit">EDIT</a>
              <% } %>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="2">Overall Rating: </td>
          <td>
            <strong>
              <%= (total / game.comments.length).toFixed(1) %>
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>
<%- include('../partials/footer') %>
