<%- include('../partials/header') %>

<section id="show-page">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Game Title</span
    >
    <div
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    >
      <%= game.title %>
    </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Release Date</span
    >
    <div
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    >
      <%= game.releaseDate %>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Company</span>
    <div
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    >
      <%= game.company %>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Created By</span
    >
    <div
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    >
      <img
        class="profile-pic"
        alt="avatar"
        src="<%= game.userAvatar %>"
        referrerpolicy="no-referrer"
      /><%= game.userName %>
    </div>
  </div>
</section>

<button><a href="/games/<%= game._id %>/edit">EDIT</a></button>

<br /><br />
<h2>Comments</h2>

<form
  id="add-comment-form"
  method="POST"
  action="/games/<%= game._id %>/comments"
>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Comment</span>
    <input
      name="content"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <select name="rating" class="form-select" aria-label="Default select example">
    <option selected>Rating</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Comment" />
</form>

<% if (game.comments.length) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Date</th>
        <th scope="col">Comment</th>
        <th scope="col">Rating By</th>
      </tr>
    </thead>
  <tbody>
    <% let total = 0 %> <% game.comments.forEach(function(c) { %> <% total +=
    c.rating %>
    <tr class="comment-body">
      <td class="comment-user">
        <img
          class="profile-pic"
          alt="avatar"
          src="<%= c.userAvatar %>"
          referrerpolicy="no-referrer"
        />
        <%= c.userName %>
      </td>
      <td><%= c.createdAt.toLocaleDateString() %></td>
      <td><%= c.content %></td>
      <td><%= c.rating %></td>
      <td>
        <% if (user?._id.equals(c.user)) { %>
        <a href="/comments/<%= c._id %>/edit">EDIT</a>
        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
    <tr>
      <td colspan="2">Overall Rating:</td>
      <td>
        <strong> <%= (total / game.comments.length).toFixed(1) %> </strong>
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %> 

<%- include('../partials/footer') %>
